KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot/boot.o \
$(ARCHDIR)/vesa/drvg.o \
$(ARCHDIR)/vesa/colors.o \
$(ARCHDIR)/vesa/drvs.o \
$(ARCHDIR)/vesa/drvi.o \
$(ARCHDIR)/mem/mem.o \
$(ARCHDIR)/text/text.o \
$(ARCHDIR)/vtty/vtconsole.o \
$(ARCHDIR)/vtty/vtty.o \
$(ARCHDIR)/ui/window.o \
